.App {
  text-align: center;
  display: flex;
  padding: 30px;
  font-family: sans-serif;
}

.right-panel {
  text-align: left;
  flex: 0 0 50%;
  padding: 30px;
}

.right-panel h1 {
  text-align: center;
}

select, .start, .stop, .clear {
  margin: 20px;
}

select {
  display: block;
  width: 90%;
  max-width: 400px;
  height: 50px;
  font-size: 1.5rem;
}

.start, .stop, .clear {
  height: 50px;
  width: 200px;
  color: white;
  font-size: 1.5rem;
}

.start {
  background-color: #77dd77;
}

.stop {
  background-color: tomato;
}

.clear {
  background-color: #5ba8ee;
}

